@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply bg-light;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* --------------------------------------------- */
/* background */
/* --------------------------------------------- */

.bg-image-background {
  background-image: url("/assets/images/background1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image-with-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/images/background1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */

.section-title {
  @apply font-primary  font-extrabold   text-center  text-size-6 pb-spacing-3 sm:text-size-8;
}

.section-subtitle {
  @apply font-primary  font-extrabold  text-center  text-size-4 sm:text-size-6;
}

.section-h3 {
  @apply text-accent text-size-4 font-secondary font-semibold pb-spacing-1  sm:text-size-5;
}

.section-h4 {
  @apply  text-size-4 font-secondary font-semibold pb-spacing-1  sm:text-size-5;
}

.main-button {
  @apply bg-primary text-light font-bold px-6 py-3 rounded-full   hover:bg-accent hover:text-primary transition ease-in duration-300 transform hover:scale-110;
}

.contact-button {
  @apply bg-primary text-light   px-4 py-3 rounded-full sm:px-6 hover:bg-accent hover:text-primary transition ease-in duration-300 transform hover:scale-110 ; 
  @apply w-32 md:w-36 ;
}

.slide-button {
  @apply bg-secondary text-light   px-spacing-1 py-1 rounded-full sm:px-spacing-3 hover:bg-accent hover:text-primary transition ease-in duration-300 transform hover:scale-110 ; 
  @apply w-spacing-12 md:w-spacing-16 sm:w-spacing-10 ;
}

.main-link {
  @apply text-primary text-size-2 font-secondary font-normal pb-spacing-1  sm:text-size-3;
}

.gallery-title {
  @apply  text-size-1 font-secondary text-center font-normal py-spacing-1  sm:text-size-2;
} 

.modal-highlight{
  @apply text-red-500 text-size-2 font-secondary font-bold pb-spacing-1 pt-spacing-3  sm:text-size-4;
}

/* --------------------------------------------- */
/* Gradient */
/* --------------------------------------------- */

.bg-gradient-primary {
  @apply bg-gradient-to-br from-primary to-secondary;
}

/* --------------------------------------------- */
/* NavBar */
/* --------------------------------------------- */

.nav-link {
  @apply hover:text-accent active:text-terciary;
}


/* --------------------------------------------- */
/* Accordion Experience and Education */
/* --------------------------------------------- */

.accordion-title {
  @apply text-size-1 sm:text-size-2; /* Fondo del encabezado */
}

.accordion-detail {
  @apply text-size-1 py-spacing-1 sm:text-size-2; /* Detalle del acordeón */
}


/* --------------------------------------------- */
/* Card */
/* --------------------------------------------- */

.btn-copy {
  @apply bg-primary text-light font-bold px-4 py-2 rounded-lg hover:bg-accent hover:text-primary transition ease-in duration-300 transform hover:scale-110;
}

.modal-content {
  @apply text-secondary text-size-2 font-secondary py-spacing-1;
}

.modal-title {
  @apply text-primary text-size-5 font-bold text-center py-3;
}

.modal-body {
  @apply text-primary text-size-3 font-secondary py-2;
}

.modal-close-btn {
  @apply bg-secondary hover:bg-dark-hover text-dark font-bold rounded-full p-3 transition duration-300 ease-in-out transform hover:scale-105;
}

.modal-highlight {
  @apply text-secondary text-size-2 sm:text-size-4 font-primary font-bold pb-spacing-1 pt-spacing-3;
}

.modal-button {
  @apply bg-light text-primary font-bold px-6 py-3 rounded-full   hover:bg-secondary hover:text-primary transition ease-in duration-300 transform hover:scale-110;
}
